<!DOCTYPE html>
<html lang="en">
 @RenderBody()
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRG</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true">
    <link rel="stylesheet" href="~/js/script.js" asp-append-version="true">
</head>
           @RenderBody()
<body>

    <!-- header section starts  -->

    <header>

        <div class="header-1">

            <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>PRG BAZAR LIBRERIA</a>

            <form action="" class="search-box-container">
                <input type="search" id="search-box" placeholder="search here...">
                <label for="search-box" class="fas fa-search"></label>
            </form>

        </div>

        <div class="header-2">

            <div id="menu-bar" class="fas fa-bars"></div>

            <nav class="navbar">
                <a href="#home">Inicio</a>
                <a href="#category">Categorias</a>
                <a href="#product">Productos</a>
                <a href="#deal">Ofertas</a>
                <a href="#contact">Contacto</a>
            </nav>

            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-user-circle"></a>
            </div>

        </div>

    </header>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="image">
            <img src="images/01.png" alt="">
        </div>

        <div style="margin-left: 100px;" class="content">
            <span>Ofertas y descuentos en útiles y más, durante todo el año</span>
            <h3>Lo mejor para ti</h3>
            <a href="#" class="btn">Compra ahora</a>
        </div>

    </section>

    <!-- home section ends -->

    <!-- banner section starts  -->

    <section class="banner-container">

        <div class="banner">
            <img src="images/02.jpg" alt="">
            <div class="content">
                <h3>Oferta Especial</h3>
                <p>Descuento del 40%</p>
                <a href="#" class="btn">Ver</a>
            </div>
        </div>

        <div class="banner">
            <img src="images/03.jpg" alt="">
            <div class="content">
                <h3>Oferta Limitada</h3>
                <p>Descuento del 50%</p>
                <a href="#" class="btn">Ver</a>
            </div>
        </div>

    </section>

    <!-- banner section ends -->

    <!-- category section starts  -->

    <section class="category" id="category">

        <h1 class="heading">comprar por<span> categoria</span></h1>

        <div class="box-container">

            <div class="box">
                <h3>Útiles Escolares</h3>
                <p>upto 50% off</p>
                <img src="images/04.png" alt="">
                <a href="#" class="btn">shop now</a>
            </div>
            <div class="box">
                <h3>Zona Universitario</h3>
                <p>upto 44% off</p>
                <img src="images/05.png" alt="">
                <a href="#" class="btn">shop now</a>
            </div>
            <div class="box">
                <h3>Zona de Lectura</h3>
                <p>upto 35% off</p>
                <img src="images/06.png" alt="">
                <a href="#" class="btn">shop now</a>
            </div>
            <div class="box">
                <h3>Ropa</h3>
                <p>upto 12% off</p>
                <img src="images/07.png" alt="">
                <a href="#" class="btn">shop now</a>
            </div>
             <div class="box">
                <h3>ACCESORIOS</h3>
                <p>upto 12% off</p>
                <img src="images/08.png" alt="">
                <a href="#" class="btn">shop now</a>
            </div>

        </div>

    </section>

    <!-- category section ends -->

    <!-- product section starts  -->

    <section class="product" id="product">

        <h1 class="heading">Últimos <span>Productos</span></h1>

        <div class="box-container">

            <div class="box">
                <span class="discount">-33%</span>
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <img src="images/1.jpg" alt="">
                <h3>Papel Bulky A4 Graphos</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price"> S/18.50 <span> S/24.61 </span> </div>
                <div class="quantity">
                    <span>Cantidad : </span>
                    <input type="number" min="1" max="1000" value="1">
                    <span>  </span>
                </div>
                <a href="#" class="btn">Añadir al carrito</a>
            </div>

            <div class="box">
                <!-- <span class="discount"></span>-->
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <img src="images/2.jpg" alt="">
                <h3>PLUMÓN N° 45 X 20  FABER-CASTELL</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price"> S/18.40 <span></span> </div>
                <div class="quantity">
                    <span>Cantidad : </span>
                    <input type="number" min="1" max="1000" value="1">
                    <span>  </span>
                </div>
                <a href="#" class="btn">Añadir al carrito</a>
            </div>

            <div class="box">
                <!-- <span class="discount"></span>-->
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <img src="images/3.jpg" alt="">
                <h3>POST-IT MULTICOLOR</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price"> S/35.70 <span>  </span> </div>
                <div class="quantity">
                    <span>Cantidad : </span>
                    <input type="number" min="1" max="1000" value="1">
                    <span>  </span>
                </div>
                <a href="#" class="btn">Añadir al carrito</a>
            </div>

            <div class="box">
                <!-- <span class="discount"></span>-->
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <img src="images/4.jpg" alt="">
                <h3>I2GO Cable Auxiliar 1.5 Mt</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price"> S/24.90 <span> </span> </div>
                <div class="quantity">
                    <span>Cantidad : </span>
                    <input type="number" min="1" max="1000" value="1">
                    <span>  </span>
                </div>
                <a href="#" class="btn">Añadir al carrito</a>
            </div>

            <div class="box">
                <!-- <span class="discount"></span>-->
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <img src="images/5.jpg" alt="">
                <h3>MOCHILA UNIVERSITE AMPHORA</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price"> S/249.00 <span> </span> </div>
                <div class="quantity">
                    <span>Cantidad : </span>
                    <input type="number" min="1" max="1000" value="1">
                    <span>  </span>
                </div>
                <a href="#" class="btn">Añadir al carrito</a>
            </div>

            <div class="box">
                <span class="discount">-41%</span>
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <img src="images/6.jpg" alt="">
                <h3>EST MARCADORES PITT STUDIO BOX 24 UND</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price"> S/187.40 <span> S/315.60 </span> </div>
                <div class="quantity">
                    <span>Cantidad : </span>
                    <input type="number" min="1" max="1000" value="1">
                    <span>  </span>
                </div>
                <a href="#" class="btn">Añadir al carrito</a>
            </div>

            <div class="box">
                <!-- <span class="discount"></span>-->
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <img src="images/7.jpg" alt="">
                <h3>POLO MALLA DEPORTIVO DAMA NEGRO S</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price"> s/ 24.9 <span>s/ 39.9</span> </div>
                <div class="quantity">
                    <span>Cantidad : </span>
                    <input type="number" min="1" max="1000" value="1">
                    <span>  </span>
                </div>
                <a href="#" class="btn">Añadir al carrito</a>
            </div>

            <div class="box">
                <span class="discount">-15%</span>
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <img src="images/8.jpg" alt="">
                <h3>MARCADOR POSCA ACRILICO PC-17K AMARILLO</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price"> S/27.90 <span> S/32.90 </span> </div>
                <div class="quantity">
                    <span>Cantidad : </span>
                    <input type="number" min="1" max="1000" value="1">
                    <span>  </span>
                </div>
                <a href="#" class="btn">Añadir al carrito</a>
            </div>


        </div>

    </section>

    <!-- product section ends -->

    <!-- deal section starts  -->

    <section class="deal" id="deal">

        <div class="content">

            <h3 class="title">Oferta del Día</h3>
            <p>CADA VEZ MÁS CERCA DE TI. 
                <br>Conoce la ubicación y el horario de nuestra tienda</p>

            <div class="count-down">
                <div class="box">
                    <h3 id="day">00</h3>
                    <span>day</span>
                </div>
                <div class="box">
                    <h3 id="hour">00</h3>
                    <span>hour</span>
                </div>
                <div class="box">
                    <h3 id="minute">00</h3>
                    <span>minute</span>
                </div>
                <div class="box">
                    <h3 id="second">00</h3>
                    <span>second</span>
                </div>
            </div>

            <a href="#" class="btn">Ver oferta</a>

        </div>

    </section>

    <!-- deal section ends -->

    <!-- contact section starts  -->

    <section class="contact" id="contact">

        <h1 class="heading"> <span>Contactanos</span> Deja tu mensaje </h1>

        <form action="">

            <div class="inputBox">
                <input type="text" placeholder="Nombre">
                <input type="email" placeholder="Correo">
            </div>

            <div class="inputBox">
                <input type="text" placeholder="Número Celular">
                <input type="text" placeholder="Mensaje">
            </div>

            <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>

            <input type="submit" value="send message" class="btn">

        </form>

    </section>

    <!-- contact section ends -->

    <!-- newsletter section starts  -->

    <!-- newsletter section ends -->

    <!-- footer section starts  -->

    <section class="footer">
            
        <div class="box-container">

            <div class="box">
                <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>PRG BAZAR LIBRERIA</a>
                <br>
                <p>Ubicanos: Av. Cdra 2 S/N Costado de la Clinica Maison de Sante Chorrillos, Chorrillos</p>
                
                <div class="share">
                    <a href="#" class="btn fab fa-facebook-f"></a>
                    <a href="#" class="btn fab fa-twitter"></a>
                    <a href="#" class="btn fab fa-instagram"></a>
                    <a href="#" class="btn fab fa-linkedin"></a>
                    
                </div>
            </div>

            <div class="box">
                <h3>Ubicanos</h3>
                 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15601.235163128036!2d-77.022597!3d-12.1593679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x45454b9a5dfc90e3!2sI%20E%20Pedro%20Ruiz%20Gallo!5e0!3m2!1ses-419!2spe!4v1663705309121!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>

        <h1 class="credit"> created by <span> MALHI </span> | all rights reserved! </h1>

    </section>

    <!-- footer section ends -->

    <!-- custom js file link  -->
    <script src="js/script.js"></script>

</body>

</html>